@{
    ViewBag.Title = "Home Page";
}

<h2>Washers</h2>
<div class="row">
    <div class="col-md-3">
        <div class="machineBox done">
            <h1 class="machineNumber">1</h1>
            <h4 class="machineStatus">DONE</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox inUse">
            <h1 class="machineNumber">2</h1>
            <h4 class="machineStatus">IN USE</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox inUse">
            <h1 class="machineNumber">3</h1>
            <h4 class="machineStatus">IN USE</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox open">
            <h1 class="machineNumber">4</h1>
            <h4 class="machineStatus">OPEN</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="machineBox open">
            <h1 class="machineNumber">5</h1>
            <h4 class="machineStatus">OPEN</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox done">
            <h1 class="machineNumber">6</h1>
            <h4 class="machineStatus">DONE</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox inUse">
            <h1 class="machineNumber">7</h1>
            <h4 class="machineStatus">IN USE</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox inUse">
            <h1 class="machineNumber">8</h1>
            <h4 class="machineStatus">IN USE</h4>
        </div>
    </div>
    </div>


<h2>Dryers</h2>
<div class="row">
    <div class="col-md-3">
        <div class="machineBox open">
            <h1 class="machineNumber">1</h1>
            <h4 class="machineStatus">OPEN</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox open">
            <h1 class="machineNumber">2</h1>
            <h4 class="machineStatus">OPEN</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox done">
            <h1 class="machineNumber">3</h1>
            <h4 class="machineStatus">DONE</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox done">
            <h1 class="machineNumber">4</h1>
            <h4 class="machineStatus">DONE</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="machineBox inUse">
            <h1 class="machineNumber">5</h1>
            <h4 class="machineStatus">IN USE</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox inUse">
            <h1 class="machineNumber">6</h1>
            <h4 class="machineStatus">IN USE</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox done">
            <h1 class="machineNumber">7</h1>
            <h4 class="machineStatus">DONE</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="machineBox open">
            <h1 class="machineNumber">8</h1>
            <h4 class="machineStatus">OPEN</h4>
        </div>
    </div>
</div>