body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.kiosk-body {
    padding-left: 15%;
    background-color: rgba(83, 83, 83, 0.42);
    padding-top: 2%;
    padding-bottom: 3%;
}

.kiosk-background {
    background: url(Images/bubble-background-8539.jpeg);
    background-repeat: no-repeat;
    width:100%;
    height: auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#accountButton {
    background: url(~/Content/Images/if_User_Accounts_alt_100297.png);
    height: 35px;
    width: auto;
    margin-top: 5px;
    display: block;
}

.washer-div {
    border-radius: 5px;
    width: 175px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 6px 1px rgba(128, 128, 128, 0.80);
    height: 125px;
}

.machine-number {
    padding-top: 25px;
    text-align: center;
    font-size:36px;
    color: white;
    font-family: "Franklin Gothic Book", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.machine-status {
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: "Franklin Gothic Book", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.done {
    background: rgb(15, 205, 205);
}

.inUse {
    background: rgb(84, 84, 84);
}

.open {
    background: rgb(149, 205, 15);
}

.machine-type-header {
    font-size: 24px;
    padding-top: 10px;
    color: white;
    font-family:"Lato Black", Lato, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#kioskTitle {
    color: white;
    font-family: "Lato Black", Lato, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:36px;
}
.room-selector {
    padding-top: 10px;
    padding-left: 20px;
}